*Module 2 Final Project: IMDB Dataset*

In [29]:
#Import Modules and CSV data

import pandas as pd

movies = pd.read_csv('tmdb_5000_movies.csv')

credits = pd.read_csv('tmdb_5000_credits.csv')

#movies.head()

#credits.head()

#movies.dtypes

#budget                    int64
#genres                   object
#homepage                 object
#id                        int64
#keywords                 object
#original_language        object
#original_title           object
#overview                 object
#popularity              float64
#production_companies     object
#production_countries     object
#release_date             object
#revenue                   int64
#runtime                 float64
#spoken_languages         object
#status                   object
#tagline                  object
#title                    object
#vote_average            float64
#vote_count                int64

#credits.dtypes

#movie_id     int64
#title       object
#cast        object
#crew        object

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
#credits.loc[credits['movie_id'] == [19995]]